h1 {
  text-align: center;
  background-color: #f4a226;
  font-family: 'Monoton';
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}
